<%
	info = JSON.parse(@contest.information)
	scrambles = info["scrambles"]
%>

<h5>スクランブル</h5>
<table class="table table-striped">
  <tbody>
  	<% scrambles.each_with_index do |scramble, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= scramble %></td>
    </tr>
    <% end %>
  </tbody>
</table>