<% if @contest.present? %>
  <h3>第<%= @contest.count %>回コンテスト開催中</h3>
  <%= render 'contest_scramble', contest: @contest %>
  <a class="btn btn-success dropdown-toggle" href="<%= contests_submit_path %>">
    投稿する
  </a>
  <%= render 'registrant_list', records: @records %>

<% else %>
  <h5>現在開催中のコンテストはありません。</h5>
<% end %>




