<h1>Contests#index</h1>
<p>Find me in app/views/contests/index.html.erb</p>

<h3>第1回3Blinder選手権</h3>


<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>スクランブル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>R L' U D2 R L2 B' D2 R R L' U D2 R L2 B' D2 R R L' U D2 R L2 B' D2 R</td>
    </tr>
    <tr>
      <td>2</td>
      <td>R L' U D2 R L2 B' D2 R R L' U D2 R L2 B' D2 R R L' U D2 R L2 B' D2 R</td>
    </tr>
    <tr>
      <td>3</td>
      <td>R L' U D2 R L2 B' D2 R R L' U D2 R L2 B' D2 R R L' U D2 R L2 B' D2 R</td>
    </tr>
  </tbody>
</table>

  <a class="btn btn-success dropdown-toggle" href="<%= contests_submit_path %>">
    投稿する
  </a>

<h3>提出済み一覧</h3>

<table class="table table-striped user-list">
  <thead>
    <tr>
      <th>提出順</th>
      <th>名前</th>
      <th>参加回数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>まっちゃん</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>まっちゃん</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>まっちゃん</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
