<h3>Contest結果一覧</h3>



<% if @contests.count > 0 %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Contest</th>
      <th>1位</th>
      <th>タイム</th>
      <th>期間</th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
    <% summary = Record.get_summary contest.id %>
    <tr>
      <td>
        <%= link_to "第#{contest.count}回BLD Contest", contests_show_path(id: contest.id), { :class => 'btn btn-link' } %>
      </td>
      <td>
        <div class="center">
        <% if summary.present? %>
        <% user = @users[summary[:winner_id]] %>
        <%= user.name %>
        <% else %>
        -
        <% end %>
        </div>
      </td>
      <td>
        <div class="center">
        <% if summary.present? %>
        <%= summary[:winner_time_label] %>
        <% else %>
        -
        <% end %>
        </div>
      </td>
      <td>
        <div class="center">
        <%= contest.period_string %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>

コンテストがありません

<% end %>


