<h1>Contests#show</h1>
<p>Find me in app/views/contests/show.html.erb</p>

第1回 BLD Contest　結果発表


<table class="table table-striped">
  <thead>
    <tr>
      <th>順位</th>
      <th>ハンドルネーム</th>
      <th>1回目</th>
      <th>2回目</th>
      <th>3回目</th>
      <th>Best</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>まっちゃん</td>
      <td>1:00.00</td>
      <td>DNF</td>
      <td>1:00.00</td>
      <td>1:00.00</td>
    </tr>
    <tr>
      <td>2</td>
      <td>まっちゃん</td>
      <td>1:00.00</td>
      <td>DNF</td>
      <td>1:00.00</td>
      <td>1:00.00</td>
    </tr>
    <tr>
      <td>3</td>
      <td>まっちゃん</td>
      <td>1:00.00</td>
      <td>DNF</td>
      <td>1:00.00</td>
      <td>1:00.00</td>
    </tr>
  </tbody>
</table>