<h1>Contests#submit</h1>
<p>Find me in app/views/contests/submit.html.erb</p>


<div class="page-header">
</div>


<form>
<div class="input-group">
  <span class="add-on" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

</form>


<div class="input-prepend">
    <span class="add-on">@</span>
    <input class="span2" id="prependedInput" type="text" placeholder="Username">
</div>