<h1>Contests#submit</h1>
<p>Find me in app/views/contests/submit.html.erb</p>


<div class="page-header">
</div>


<form>

</form>


<div class="input-prepend">
    <span class="add-on">@</span>
    <input class="span2" id="prependedInput" type="text" placeholder="ハンドルネーム">
</div>

<div class="input-group input-group-lg">
	<div class="input-prepend">
	    <span class="add-on">1</span>
	    <span class="add-on">DNF: <input type="checkbox" aria-label="..."></span>
	    <input class="span2" id="prependedInput" type="text" placeholder="１回目のタイム">
	</div>
</div>


<div class="input-group input-group-lg">
	<div class="input-prepend">
	    <span class="add-on">1</span>
	    <span class="add-on">DNF: <input type="checkbox" aria-label="..."></span>
	    <input class="span2" id="prependedInput" type="text" placeholder="２回目のタイム">
	</div>
</div>


<div class="input-group input-group-lg">
	<div class="input-prepend">
	    <span class="add-on">1</span>
	    <span class="add-on">DNF: <input type="checkbox" aria-label="..."></span>
	    <input class="span2" id="prependedInput" type="text" placeholder="３回目のタイム">
	</div>
</div>
